data/
*.ipynb
mass_model_catalogue.pdf
long_paper.pdf
.projprofile
*.pyc
pip-selfcheck.json
.Python
bin/
include/
lib/
.ipynb_checkpoints
.cache
.idea
.env
AutoLensPy2
.pytest_cache
test_files/non_linear/files
MultiNest/
multinest
.DS_Store
test_files/non_linear/files
MultiNest/
non_linear/files/setup/model.info
non_linear/files/setup/multinest.paramnames
non_linear/files/setupmultinest.paramnames
non_linear/files/setup/
test/test_files/non_linear/files/setup/multinest.paramnames
test/test_files/non_linear/files/setupmultinest.paramnames
