# MANIFEST.in
exclude .gitignore
include README.rst
include setup.cfg
include CITATIONS.rst
include LICENSE
include requirements.txt
include optional_requirements.txt

prune .cache
prune .git
prune build
prune dist

recursive-exclude *.egg-info *

recursive-include autolens/config *

exclude docs

global-exclude test_autolens
recursive-exclude test_autolens *