# MANIFEST.in
exclude .gitignore
exclude .coverage
exclude .travis.yml
exclude docs
include README.rst
include setup.cfg
prune .cache
prune .git
prune build
prune dist
recursive-include autolens/config *
recursive-exclude *.egg-info *
recursive-include tests *
include requirements.txt
recursive-include data *
