analysis:
  n_cores: 1
fits:
  flip_for_ds9: true
psf:
  use_fft_default: false              # If True, PSFs are convolved using FFTs by default, which is faster and uses less memory in all cases except for very small PSFs, False uses direct convolution.
hpc:
  hpc_mode: false
  iterations_per_full_update: 5000
adapt:
  adapt_minimum_percent: 0.01
  adapt_noise_limit: 100000000.0
inversion:
  check_reconstruction: false       # If True, the inversion's reconstruction is checked to ensure the solution of a meshs's mapper is not an invalid solution where the values are all the same.
  use_positive_only_solver: false    # If True, inversion's use a positive-only linear algebra solver by default, which is slower but prevents unphysical negative values in the reconstructed solutuion.
  no_regularization_add_to_curvature_diag_value: 1.0e-8 # The default value added to the curvature matrix's diagonal when regularization is not applied to a linear object, which prevents inversion's failing due to the matrix being singular.
  positive_only_uses_p_initial: false  # If True, the positive-only solver of an inversion's uses an initial guess of the reconstructed data's values as which values should be positive, speeding up the solver.
numba:
  cache: true
  nopython: true
  parallel: false
  use_numba: true
output:
  force_pickle_overwrite: false
  info_whitespace_length: 80
  log_file: output.log
  log_level: INFO
  log_to_file: false
  model_results_decimal_places: 3
  remove_files: false
  samples_to_csv: false
profiling:
  perform: true
  repeats: 1
test:
  check_likelihood_function: false  # if True, when a search is resumed the likelihood of a previous sample is recalculated to ensure it is consistent with the previous run.
  exception_override: false
  disable_positions_lh_inversion_check: false
