mock:
  MockOptimizer:
    initialize:
      method: prior
    printing:
      silence: false
    prior_passer:
      sigma: 3.0
      use_errors: true
      use_widths: true
    updates:
      iterations_per_update: 2500
      remove_state_files_at_end: true
  MockSearch:
    initialize:
      method: prior
    printing:
      silence: false
    prior_passer:
      sigma: 3.0
      use_errors: true
      use_widths: true
    search: {}
    updates:
      iterations_per_update: 2500
      remove_state_files_at_end: true
nest:
  DynestyDynamic:
    general:
      acceptance_ratio_threshold: 0.1
      bootstrap: null
      bound: multi
      enlarge: null
      first_update: null
      fmove: 0.9
      max_move: 100
      sample: auto
      sampling_efficiency: 0.5
      slices: 5
      terminate_at_acceptance_ratio: false
      update_interval: null
      walks: 25
    initialize:
      method: prior
    parallel:
      force_x1_cpu: false
      number_of_cores: 1
    printing:
      silence: false
    prior_passer:
      sigma: 3.0
      use_errors: true
      use_widths: true
    updates:
      iterations_per_update: 2500
      remove_state_files_at_end: true
  DynestyStatic:
    parallel:
      number_of_cores: 1
    initialize:
      method: prior
    inversion:
      acceptance_ratio_threshold: 0.05
      const_efficiency_mode: true
      evidence_tolerance: 100.0
      multimodal: false
      n_live_points: 50
      sampling_efficiency: 0.3
      terminate_at_acceptance_ratio: false
    printing:
      silence: false
    prior_passer:
      sigma: 3.0
      use_errors: true
      use_widths: true
    search:
      const_efficiency_mode: false
      evidence_tolerance: 0.5
      importance_nested_sampling: false
      max_iter: 0
      max_modes: 100
      mode_tolerance: -1.0e+90
      multimodal: false
      n_live_points: 50
      sampling_efficiency: 0.5
    settings:
      context: 0
      init_MPI: false
      log_zero: -1.0e+100
      n_iter_before_update: 5
      null_log_evidence: -1.0e+90
      resume: true
      seed: -1.0
      stagger_resampling_likelihood: true
      verbose: false
      write_output: true
    updates:
      iterations_per_update: 2500
      remove_state_files_at_end: true
