general:
  general:
    backend: default
    imshow_origin: upper
    zoom_around_mask: true
mat_wrap_2d:
  CausticsLine:
    figure:
      c: w,g
      linestyle: --
      linewidth: 5
    subplot:
      c: g
      linestyle: --
      linewidth: 7
  CriticalCurvesLine:
    figure:
      c: w,k
      linestyle: '-'
      linewidth: 4
    subplot:
      c: b
      linestyle: '-'
      linewidth: 6
  LightProfileCentreScatter:
    figure:
      c: k,r
      marker: +
      s: 1
    subplot:
      c: b
      marker: .
      s: 15
  MassProfileCentreScatter:
    figure:
      c: r,k
      marker: x
      s: 2
    subplot:
      c: k
      marker: o
      s: 16
  MultipleImagesScatter:
    figure:
      c: k,w
      marker: o
      s: 3
    subplot:
      c: g
      marker: .
      s: 17
plots:
  dataset:
    subplot_dataset: true
  fit:
    subplot_fit: true
    subplots_of_planes: false
    fits_fit: true                          # Output a .fits file containing the fit model data, residual map, normalized residual map and chi-squared?
    fits_galaxy_images : true                # Output a .fits file containing the images (e.g. without PSF convolution) of every galaxy?
  fits_model_galaxy_images : true          # Output a .fits file containing the model images (e.g. with PSF convolution) of every galaxy?
  fit_imaging: {}
  fit_interferometer:
    subplot_fit_real_space: true
    subplot_fit_dirty_images: true
    fits_dirty_images: true                 # output dirty_images.fits showing the dirty image, noise-map, model-data, resiual-map, normalized residual map and chi-squared map?
  fit_point_dataset: {}
  fit_quantity:
    subplot_fit: true
  galaxies:
    subplot_galaxies: true
    subplot_galaxy_images: true
    subplot_galaxies_1d: true
    subplot_galaxies_1d_decomposed: true
  adapt:
    subplot_adapt_images: true
  inversion:
    subplot_inversion: true
  positions:
    image_with_positions: true
  tracer:
    subplot_tracer: true
    subplot_galaxies_images: true
    fits_tracer: true                       # Output tracer.fits file of tracer's convergence, potential, deflections_y and deflections_x?
    fits_source_plane_images: true           # Output source_plane_images.fits file of the source-plane image (light profiles only) of each galaxy in the tracer?
    fits_source_plane_shape: (3, 3)      # The shape of the source-plane image output in the fits_source_plane_images.fits file.
